/* CSS for Settings and Privacy Page */

/* From Style */
main .container {
  background-image: url(../../images/settingImage.jpg);
  max-width: 1500px;
  padding: 30px;
  background-size: 100%;
  padding: 60px;
  border-radius: 100%;
  margin: 40px auto;
}

main .mainSetting {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.258);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: black;
  padding: 0px 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.mainSetting a:hover {
  font-weight: bold;
}

.header {
  background: #fc4508cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  padding-top: 60px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.header h2 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  text-shadow: 4px 6px 7px rgba(0, 0, 0, 0.372);
}

.header .profileImage {
  width: 120px;
  border-radius: 100%;
}

.settingContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 200px;
  padding: 30px 0px;
}

main .settingContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
}

main h2 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: #fc4308;
  font-weight: 900;
}

main span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  background-color: #fc4508ad;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}

main input {
  padding: 12px 6px;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.424) 0px 3px 8px;
  border: 2px solid transparent;
  font-size: 1rem;
  color: gray;
}

main select {
  color: gray;
}

main input:focus {
  border: 2px dashed #fc4308;
  outline: none;
}

main select {
  padding: 12px 6px;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.424) 0px 3px 8px;
  border: 2px solid transparent;
  font-size: 1rem;
}

main select:focus {
  border: 2px dashed #fc4308;
  outline: none;
}

.settingBtn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #fc4308;
  background: #fc4308;
}

.settingBtn:hover {
  background: #fff;
  color: #fc4308;
}

.settingBtn:hover:after {
  top: 0;
  left: 0;
}

.textArea {
  width: 100%;
  padding: 10px;
  border: 2px solid #fc4308;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.424);
}

.textArea:focus {
  color: gray;
  border: 2px dashed #fc4308;
  outline: none;
}

.bioLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fc4508ad;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  gap: 20px;
}
.link {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.link input {
  width: 40%;
}
